{% extends "layout.html" %}
{% set idPage = "index" %}

{% block content %}
  <div class="title">
    <h1>Birthdays50</h1>
  </div>
  <svg>
    <filter id="fire">
        <feTurbulence id="turbulence" baseFrequency="0.1 0.1" numOctaves="2" seed="3">
          <animate attributeName="baseFrequency" dur="10s" values="0.1 0.1; 0.12 0.2" repeatCount="indefinite"></animate>
        </feTurbulence>
        <feDisplacementMap in="SourceGraphic" scale="15"></feDisplacementMap>
    </filter>
  </svg>
  <p>You will never forget your friends' birthday!</p>
  <div class="buttons">
      <a href="/login" class="button"><span class="hover"></span>LOGIN</a>
      <a href="/register" class="button"><span class="hover"></span>REGISTER</a>
  </div>
{% endblock content %}
