{% extends "layout.html" %}
{% import 'partials/form.html' as form %}

{% block head %}
  <link rel="stylesheet" href="/styles/form.css">
  <title>Login</title>
{% endblock head %}

{% block content %}
    {% call form.render("login", "https://images.unsplash.com/photo-1616709676522-9861033271a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80") %}
    <form action="/login" class="login" method="POST">
      <h2>Login</h2>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Insert your email here" value="{{ data.email if data }}">
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Insert your password here">
      </div>
      <button type="submit" class="button">Login</button>
    </form>
    {% endcall %}
{% endblock content %}
