{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="/styles/birthdays.css">
  <link rel="stylesheet" href="/styles/share.css">
  <title>Receive</title>
{% endblock head %}

{% block content %}
  <div class="box-container">
    <h2>Received Birthdays</h2>
    {% if users %}
    {% for user in users %}
    <div class="birthdays">
      <h2>{{ user }}</h2>
      <div class="birthdays-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Birthday</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for birthday in users[user] %}
            <tr>
              <td>{{ birthday.name }}</td>
              <td>{{ birthday.month }}/{{ birthday.day }}</td>
              <td>
                <form action="/remove-shared" method="POST">
                  <input type="hidden" name="id" value="{{ birthday.share_id }}">
                  <button type="submit"><img src="/assets/minus.svg" alt="Remove"></button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>You haven't received any birthdays yet!</p>
    {% endif %}
  </div>
{% endblock content %}
