{% extends "layout.html" %}
{% import 'partials/form.html' as form %}

{% block head %}
  <link rel="stylesheet" href="/styles/form.css">
  <title>Register</title>
{% endblock head %}

{% block content %}
    {% call form.render("register", "https://images.unsplash.com/photo-1565035010268-a3816f98589a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=388&q=80") %}
    <form action="/register" class="register" method="POST">
      <h2>Register</h2>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Insert your email here">
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Insert your password here">
      </div>
      <div class="input-group">
        <label for="passwordRepeat">Password confirmation</label>
        <input type="password" name="passwordRepeat" placeholder="Confirm your password here">
      </div>
      <button type="submit">Register</button>
    </form>
    {% endcall %}
{% endblock content %}
