:root {
  --primary-color: #ffeb3b;
  --dark-color: #131419;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-size: 16px;
  color: #f1f1f1;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--dark-color);
}

.content {
  width: 90%;
  margin: auto;
  max-width: 98rem;
}

/* =============== CONTENT =============== */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 8.6rem 0 2rem;
}

main.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* =============== BOX =============== */
.box-container {
  background-color: var(--dark-color);
  width: 100%;
  max-width: 80rem;
  border-radius: .8rem;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
              5px 5px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
.box-container.register {
  margin-top: 8rem;
} */

.box-container h2, form button {
  color: var(--primary-color);
  text-shadow: 0 0 10px #FF8C3B;
  text-transform: uppercase;
}

.box-container h2 {
  margin-bottom: 3.2rem;
}


/* ================ MESSAGE POPUP ================ */
.message-popup {
  position: fixed;
  bottom: 1.4rem;
  right: -25rem;
  background-color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  border-radius: 0.8rem;
  font-weight: 500;
  max-width: min(90%, 25rem);
  word-wrap: break-word;
  word-break: normal;
  opacity: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  transition: all 400ms ease-in-out;
}

.message-popup.active {
  right: 1.4rem;
  opacity: 1;
}

.message-popup img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.2rem;
}
